*, *::before, *::after {
  box-sizing: border-box;
}

:root {
  --bg-dark: #0a101e;       
  --habs-red: #e31837;    
  --habs-blue: #58a6ff;   
  
  --text-main: #f0f6fc;
  --text-dim: #8b949e;
  --border: #30363d;  
  --max-width: 1100px;
}


body {
  background-color: var(--bg-dark);
  color: var(--text-main);
  margin: 0;
  font-family: 'Inter', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center; 
}

section {
  width: 100%;
  max-width: var(--max-width);
  padding: 80px 20px;
  display: flex;
  flex-direction: column;
  align-items: center; 
  text-align: center;
}

html {
  scroll-behavior: smooth;
}
.hero-icon {
  font-size: 2rem;
  color: var(--text-main);
  transition: color 0.2s ease-in-out;
}

.hero-icon:hover {
  color: var(--habs-blue); /* Let's go Habs! */
}
