/* src/index.css */
:root {
  --bg-dark: #0a101e;       
  --habs-red: #e31837;    
  --habs-blue: #58a6ff;   
  
  --text-main: #f0f6fc;
  --text-dim: #8b949e;
  --border: #30363d;  
}


body {
  background-color: var(--bg-dark);
  color: var(--text-main);
  margin: 0;
  font-family: 'Inter', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center; 
}

section {
  width: 100%;
  max-width: var(--max-width);
  padding: 80px 20px;
  display: flex;
  flex-direction: column;
  align-items: center; 
  text-align: center;
}

html {
  scroll-behavior: smooth;
}
